* {

    box-sizing: border-box;

}

.grid{

    display: grid;
}
.grid.add-gutters{
    grid-column-gap: 0rem;
}
body{
    min-width: 40rem;
}

/*code copied from intiatives_main.css*/
@media (min-width: 20rem){
	
	h1{
		margin-top: 0rem;
		padding-top: 5rem;
    }

   
}

@media (min-width: 48rem){

    .grid.five-column{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

	nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }


   h1{
		margin-top: 0rem;
		padding-top: 10rem;
    }
    
    
}
@media (min-width: 80rem){
	nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    h1{
		padding-top: 5rem;
    }
    
    
}

@media(min-width: 70.75rem){
    .grid.two-column-content {
        grid-template-columns: 1fr 1fr;
        
    }
}


