html {
  scroll-behavior: smooth;
}

body {
    font-family: Roboto, Verdana, sans-serif;
    margin: 0%;
    font-size: 1.25rem;
    background-color:white;
	  text-align: center;
}


h1 {
	font-size: 4.5rem;
	font-weight: bold;
	letter-spacing: 0.5rem;
	color: rgb(255, 255, 255);
	background-color: #93A8AB;
	padding-left: 6rem;
	padding-right: 1rem;
	padding-top: 5rem;
	padding-bottom: 3rem;
	text-align: left;
  margin-top: 0%;
}


h3 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.nav-main-item {
	display: inline-block;
	color: white;
	background-color: rgb(44, 90, 97) ;
	font-size: 1rem;
  padding: 1rem 1rem;
  margin-bottom: 0%;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	text-align: center;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: white;
	background-color:rgb(83, 95, 97);
}



.boxed {
    background-color: #C1DCE0;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    border-left: 0.05rem;
    border-right: 0.05rem;
  }

 #title {
   background-color: #2C5A61;
   padding: 5%;
   color: white;
   font-size: 1.5rem;
 } 

 #description {
    background-color: #E5E5E5;
    padding: 5%;
    font-size: 1rem;
 }

figure {
  max-width: 100%;
  max-height: 28.125rem;
}

img {
  max-width:100%;
  max-height:25rem;
}

button {
	text-decoration: none;
	display: inline-block;
	padding: 0.625rem 1rem;
  }
  
  button:hover {
	background-color: white;
	color: black;
  }
  
  .previous {
	background-color: #E5E5E5;
	color: black;
  }
  
  .next {
	background-color: #E5E5E5;
	color: black;
  }
  
/* The information for gotopbutton from: https://www.youtube.com/watch?v=Vef9bxTilCU*/
.gotopbtn{
  position: fixed;
  width:  2.813rem;
  height: 2.813rem;
  color: white;
  background-color: #93A8AB;;
  bottom: 2.5rem;
  right: 3.125rem;
  text-decoration: none;
  text-align: center;
  padding-top: 0.625rem;
}

footer {
  margin-top: 3.125rem;
  background-color: #2C5A61;
  padding-top: 6.25rem;
}
